__pycache__/
*.pyc
.env
*.jpg
*.png
/tmp/
.venv/
ultimo_post.txt
news_debug.txt
test_results.txt
gemini_test_results.txt
models_list.txt
pages_found.json
temp_pages.txt
test_reel.mp4
SEGREDO_GITHUB_BOT02.md
temp_post.jpg
temp_reel.mp4

persistent_tokens.json

